* {
    box-sizing: border-box;
}

.movie-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid #DDD;
    cursor: pointer;
}

.movie-item:hover {
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transform: scale(1.05);
    z-index: 5;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.favourite-item {
    border: 1px solid grey;
    box-shadow: rgba(70, 52, 52, 0.2) 12px 4px 12px;
}

.favourite-btn {
    position: relative;
    z-index: 5000;
    width: 100%;
    padding-right: 5px;
    display: flex;
    justify-content: right;
    background-color: rgba(148, 144, 144, 0.6);
}

.movie-poster {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.poster-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movie-detail {
    text-align: left;
    position: relative;
    padding: 10px 5px;
    z-index: 3;
}

.movie-name {
    font-size: 15px;
    line-height: 1.3em;
    font-weight: 400;
    margin: 0 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
